body {
    position: relative;
    width: 100%;
    border: 1px solid red;
    display: block;
  }

  body > *  {
	text-align:center;
    margin: auto;
    width: 500px;
    display: block;
    overflow: auto;
  }

  body > script {
    display: none
  }

#nav_container div
{
border: 1px solid black;
box-shadow: 10px 10px 5px #888888;
}

#nav_list li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

