<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Michael Zheng">
    <meta name="author" content="Michael Zheng">

    <title>Michael Zheng</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/sticky-footer.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>

  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
        	<h1 id="header_greeting">Hello</h1>
        </div>
			<ul id="nav_list">
				<li><a class="clickable" href="#"><i class="header fa fa-home fa-3x"></i>
					<span class="description">Home</span></a></li>
				<li><a class="clickable" href="#"><i class="header fa fa-github fa-3x"></i>
					<span class="description">Github</span></a></li>
				<li><a class="clickable" href="#"><i class="header fa fa-twitter-square fa-3x">T</i>
					<span class="description">Twitter</span></a></li>
				<li><a class="clickable" href="#"><i class="header fa fa-linkedin-square fa-3x"></i>
					<span class="description">Linkedin</span></a></li>
				<li><a class="clickable" href="#"><i class="header fa fa-instagram fa-3x">I</i>
				<span class="description">Instagram</span></a></li>
				<li><a class="clickable" href="#"><i class="header fa fa-youtube-square fa-3x"></i>
				<span class="description">Youtube</span></a></li>
			</ul>
			<div id="content">	
				{{ content }}		
			</div>
		</div>
    </div>
	
    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; 2013 Michael Zheng</p>
      </div>
    </div>
  </body>
</html>
